.container
  height: calc(100% - 1rem)
  overflow: hidden

.app
  border-bottom: 1px solid rgba(black, .1)
  height: 100%

  @media (min-width: 420px) and (orientation: landscape)
    align-items: center
    display: flex
    flex-direction: row
    justify-content: space-between

.site-footer
  background-color: rgba(white, .9)

.credit
  color: rgba(black, .5)
  font-size: .625rem
  margin: 0
  text-align: center

  a
    text-decoration: none
